########################################################################
# NAS Workstation Monitor Configuration
# Following dfstat pattern
########################################################################

########################################################################
# Database configuration
########################################################################
database = '/home/zeus/nas_workstation_monitor.db'
schema_file = './nas_monitor_schema.sql'

########################################################################
# Logging configuration
########################################################################
log_file = '/home/zeus/nas_workstation_monitor.log'

########################################################################
# Email notification configuration
########################################################################
notification_addresses = [
    'hpc@richmond.edu',
    'jtonini@richmond.edu'
]
notification_source = 'zeus@jonimitchell'

# SMTP settings
smtp_server = 'localhost'
smtp_port = 25

########################################################################
# Monitoring behavior
########################################################################
time_interval = 3600
attempt_fix = true
send_notifications = true
track_users = true
check_processes = true

########################################################################
# SSH configuration
########################################################################
ssh_timeout = 30
ssh_config_file = '~/.ssh/config'
ssh_options = [
    '-o', 'ConnectTimeout=10',
    '-o', 'StrictHostKeyChecking=no',
    '-o', 'BatchMode=yes',
    '-o', 'PasswordAuthentication=no'
]

########################################################################
# Chemistry workstations to monitor
########################################################################
# Back to simple format that the script expects
# Now includes all 5 mount points for each workstation
########################################################################

workstations = [
    {host = 'aamy', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'adam', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'alexis', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'boyi', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'camryn', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'cooper', mounts = ['/usr/local/chem.sw', '/opt/intel']},
    {host = 'evan', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'hamilton', mounts = ['/usr/local/chem.sw', '/opt/intel'],
    {host = 'irene2', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'josh', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'justin', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'kevin', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'khanh', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'mayer', mounts = ['/usr/local/chem.sw', '/opt/intel']},
    {host = 'michael', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']},
    {host = 'sarah', mounts = ['/usr/local/chem.sw', '/opt/intel']},
    {host = 'thais', mounts = ['/usr/local/chem.sw', '/opt/intel', '/franksinatra/logP', '/franksinatra/HIV_flaps']}
]

########################################################################
# Critical software to verify on mount point
########################################################################
critical_software = [
    {mount = '/usr/local/chem.sw', software = ['amber', 'Columbus', 'gaussian']},
    {mount = '/opt/intel', software = []},
    {mount = '/backups', software = []},
    {mount = '/franksinatra/logP', software = []},
    {mount = '/franksinatra/HIV_flaps', software = []}
]

########################################################################
# Off-hours notification suppression
########################################################################
off_hours_start = 18  # 6 PM
off_hours_end = 6     # 6 AM

# Weekend suppression (Friday 6 PM through Monday 6 AM)
suppress_weekends = true
weekend_start_day = 'Friday'
weekend_start_hour = 18
weekend_end_day = 'Monday'
weekend_end_hour = 6

########################################################################
# Database cleanup configuration
########################################################################
keep_hours = 168
aggressive_cleanup = false

# Temporarily suppress email notifications for specific workstations
# These workstations will still be monitored and logged in the database
# but won't trigger email alerts. Remove from list when you want alerts to resume.
# Added 2025-12-25 for winter break until 2026-01-05
suppress_notifications_for = []
